.orderDetail {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  &-search {
    width: 300px;
  }

  &-table {
    table,
    th,
    td {
      font-size: 24px;
      border: 1px solid #333 !important;
    }

    th {
      padding-bottom: 24px !important;
    }

    td > div {
      margin-top: -18px !important;
    }
  }

  &-showAction {
    display: revert;
    width: 120px;
  }

  &-hiddenAction {
    display: none;
  }
}
